.main-header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar, 
.navbarLeft, 
.navbarRight, 
.navbarMid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.navbar a, 
.navbar h4 {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  font-style: italic;
}

.navbar a.active,
.navbar a:hover {
  cursor: pointer;
  color: rgb(255, 213, 47)
}

.navbarMid h4 {
  font-weight: 400;
}

button {
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
  font-style: italic;
  margin-left: 5px;
}

